--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$V65JuoMAYgmopYiCaZYKop$a897a3FyFDhMoRtO4gz1y0XxXxvG5f5mqLEqbumffR4=	2025-04-24 02:01:25.935585-06	t	admin			admin@outlook.com	t	t	2025-03-19 02:24:53.144845-06
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_unidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_unidad (id, nombre, ubicacion, esatus) FROM stdin;
1	Unidad Jalisco	Jalisco	t
2	Unidad San Luis	San Luis Potosi	t
3	Unidad Edo de Mexico	Edo de Mexico	t
4	Unidad Tabasco	Tabasco	t
5	Unidad Sonora	Sonora	t
\.


--
-- Data for Name: proyecto_inv_area; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_area (id, nombre, esatus, unidad_id) FROM stdin;
1	TI	t	3
2	Electronica	t	2
3	Quimicos	t	1
4	Energia	t	2
5	Medio Ambiente	t	1
6	Docencia	t	5
7	Posgrados	t	4
8	Administrativos	t	2
\.


--
-- Data for Name: proyecto_inv_articulo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_carrera; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_carrera (id, descripcion) FROM stdin;
1	Ing de Software
2	Bioquimica
3	Lic. Pedagogia
4	Ing, en Electricidad
5	Ing. en Electronica
6	Ing. en Mecatronica
\.


--
-- Data for Name: proyecto_inv_niveledu; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_niveledu (id, descripcion, esatus) FROM stdin;
2	Practicante	t
3	Maestria	t
4	Doctorado	t
\.


--
-- Data for Name: proyecto_inv_nivelsnii; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_nivelsnii (id, descripcion) FROM stdin;
1	Candidato
2	Nivel I
3	Nivel II
4	Nivel III
\.


--
-- Data for Name: proyecto_inv_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_investigador; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_detart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detart (id, articulo_id, investigador_id) FROM stdin;
1	1	9
2	1	10
3	1	8
4	2	7
5	2	2
6	2	3
7	3	8
8	3	4
9	4	9
10	5	1
11	5	2
12	5	7
13	5	10
14	6	9
15	6	1
16	7	10
17	7	2
18	8	1
19	8	7
20	8	8
21	9	8
22	9	9
23	9	10
24	10	4
25	10	8
26	11	4
27	11	8
28	12	10
29	12	7
30	12	1
31	12	2
32	13	7
33	14	10
34	14	9
35	15	1
\.


--
-- Data for Name: proyecto_inv_tipoevento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_tipoevento (id, descripcion, esatus) FROM stdin;
1	Congreso	t
2	Taller	t
3	Diplomado	t
4	Charla	t
5	Curso	t
6	Conferencia	t
7	Proyecto	f
\.


--
-- Data for Name: proyecto_inv_evento; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_detevento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detevento (id, evento_id, investigador_id) FROM stdin;
1	1	6
2	2	3
3	2	5
4	3	7
5	4	1
6	4	10
7	4	2
8	5	10
9	6	9
10	7	8
11	8	10
12	9	6
13	10	4
14	11	5
15	12	9
16	13	8
17	14	7
18	15	10
19	16	2
20	17	1
21	18	3
22	19	8
23	19	9
24	19	1
25	20	9
\.


--
-- Data for Name: proyecto_inv_herramienta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_herramienta (id, nombre, descripcion, esatus) FROM stdin;
\.


--
-- Data for Name: proyecto_inv_proyecto; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_detherr; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detherr (id, herramienta_id, proyecto_id) FROM stdin;
\.


--
-- Data for Name: proyecto_inv_linea; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_linea (id, nombre, esatus) FROM stdin;
5	IA	t
7	Energia	t
10	Microredes	t
11	Medio Ambiente	t
12	Desarrollo Humano	t
13	Desarrollo de Software	t
14	Quimica de Combustibles	t
\.


--
-- Data for Name: proyecto_inv_detlinea; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detlinea (id, investigador_id, linea_id) FROM stdin;
1	1	5
2	2	5
3	3	7
4	4	7
5	6	10
6	10	11
7	5	12
8	7	13
9	8	14
10	9	14
\.


--
-- Data for Name: proyecto_inv_detproy; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detproy (id, investigador_id, proyecto_id) FROM stdin;
2	1	3
3	2	3
4	1	4
5	7	4
6	6	5
7	3	6
8	4	6
9	6	6
10	5	7
11	5	8
12	8	9
13	9	9
14	9	10
15	2	12
16	10	13
17	10	14
18	1	15
19	3	16
20	4	17
21	3	17
\.


--
-- Data for Name: proyecto_inv_especialidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_especialidad (id, descripcion, esatus) FROM stdin;
1	Pedagogia	t
2	Mecatronica	t
3	Electronica	t
4	Software	t
5	Quimica	t
\.


--
-- Data for Name: proyecto_inv_tipoestudiante; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_tipoestudiante (id, nombre) FROM stdin;
1	Practicante
2	Serv. Social
3	Maestria
4	Doctorado
\.


--
-- Data for Name: proyecto_inv_estudiante; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 108, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 244, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 27, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 25, true);


--
-- Name: proyecto_inv_area_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_area_id_seq', 8, true);


--
-- Name: proyecto_inv_articulo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_articulo_id_seq', 15, true);


--
-- Name: proyecto_inv_carrera_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_carrera_id_seq', 6, true);


--
-- Name: proyecto_inv_detart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detart_id_seq', 35, true);


--
-- Name: proyecto_inv_detevento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detevento_id_seq', 26, true);


--
-- Name: proyecto_inv_detherr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detherr_id_seq', 1, false);


--
-- Name: proyecto_inv_detlinea_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detlinea_id_seq', 11, true);


--
-- Name: proyecto_inv_detproy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detproy_id_seq', 21, true);


--
-- Name: proyecto_inv_especialidad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_especialidad_id_seq', 5, true);


--
-- Name: proyecto_inv_estudiante_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_estudiante_id_seq', 13, true);


--
-- Name: proyecto_inv_evento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_evento_id_seq', 20, true);


--
-- Name: proyecto_inv_herramienta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_herramienta_id_seq', 1, false);


--
-- Name: proyecto_inv_investigador_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_investigador_id_seq', 18, true);


--
-- Name: proyecto_inv_linea_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_linea_id_seq', 14, true);


--
-- Name: proyecto_inv_niveledu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_niveledu_id_seq', 4, true);


--
-- Name: proyecto_inv_nivelsnii_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_nivelsnii_id_seq', 4, true);


--
-- Name: proyecto_inv_proyecto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_proyecto_id_seq', 17, true);


--
-- Name: proyecto_inv_tipoestudiante_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_tipoestudiante_id_seq', 4, true);


--
-- Name: proyecto_inv_tipoevento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_tipoevento_id_seq', 7, true);


--
-- Name: proyecto_inv_unidad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_unidad_id_seq', 5, true);


--
-- Name: proyecto_inv_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_usuario_id_seq', 20, true);


--
-- PostgreSQL database dump complete
--

