--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: proyecto_inv_area; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_area (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    esatus boolean NOT NULL,
    unidad_id bigint NOT NULL
);


ALTER TABLE public.proyecto_inv_area OWNER TO postgres;

--
-- Name: proyecto_inv_area_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_area ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_area_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_articulo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_articulo (
    id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    fecha_publicacion date NOT NULL,
    enlace character varying(255) NOT NULL,
    descripcion character varying(100) NOT NULL,
    "Area_id" bigint
);


ALTER TABLE public.proyecto_inv_articulo OWNER TO postgres;

--
-- Name: proyecto_inv_articulo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_articulo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_articulo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_carrera; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_carrera (
    id bigint NOT NULL,
    descripcion character varying(100) NOT NULL
);


ALTER TABLE public.proyecto_inv_carrera OWNER TO postgres;

--
-- Name: proyecto_inv_carrera_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_carrera ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_carrera_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_detart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_detart (
    id bigint NOT NULL,
    articulo_id bigint NOT NULL,
    investigador_id bigint NOT NULL
);


ALTER TABLE public.proyecto_inv_detart OWNER TO postgres;

--
-- Name: proyecto_inv_detart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_detart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_detart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_detevento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_detevento (
    id bigint NOT NULL,
    evento_id bigint NOT NULL,
    investigador_id bigint NOT NULL
);


ALTER TABLE public.proyecto_inv_detevento OWNER TO postgres;

--
-- Name: proyecto_inv_detevento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_detevento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_detevento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_detherr; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_detherr (
    id bigint NOT NULL,
    herramienta_id bigint NOT NULL,
    proyecto_id bigint NOT NULL
);


ALTER TABLE public.proyecto_inv_detherr OWNER TO postgres;

--
-- Name: proyecto_inv_detherr_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_detherr ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_detherr_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_detlinea; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_detlinea (
    id bigint NOT NULL,
    investigador_id bigint NOT NULL,
    linea_id bigint NOT NULL
);


ALTER TABLE public.proyecto_inv_detlinea OWNER TO postgres;

--
-- Name: proyecto_inv_detlinea_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_detlinea ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_detlinea_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_detproy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_detproy (
    id bigint NOT NULL,
    investigador_id bigint NOT NULL,
    proyecto_id bigint NOT NULL
);


ALTER TABLE public.proyecto_inv_detproy OWNER TO postgres;

--
-- Name: proyecto_inv_detproy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_detproy ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_detproy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_especialidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_especialidad (
    id bigint NOT NULL,
    descripcion character varying(100) NOT NULL,
    esatus boolean NOT NULL
);


ALTER TABLE public.proyecto_inv_especialidad OWNER TO postgres;

--
-- Name: proyecto_inv_especialidad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_especialidad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_especialidad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_estudiante; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_estudiante (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    tel character varying(25) NOT NULL,
    email character varying(255) NOT NULL,
    esatus boolean NOT NULL,
    carrera_id bigint NOT NULL,
    investigador_id bigint NOT NULL,
    tipo_id bigint NOT NULL
);


ALTER TABLE public.proyecto_inv_estudiante OWNER TO postgres;

--
-- Name: proyecto_inv_estudiante_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_estudiante ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_estudiante_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_evento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_evento (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    fecha date NOT NULL,
    tipo_evento_id bigint NOT NULL,
    descripcion character varying(255) NOT NULL,
    organizador character varying(100) NOT NULL,
    ubicacion character varying(255) NOT NULL
);


ALTER TABLE public.proyecto_inv_evento OWNER TO postgres;

--
-- Name: proyecto_inv_evento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_evento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_evento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_herramienta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_herramienta (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion character varying(255) NOT NULL,
    esatus boolean NOT NULL
);


ALTER TABLE public.proyecto_inv_herramienta OWNER TO postgres;

--
-- Name: proyecto_inv_herramienta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_herramienta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_herramienta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_investigador; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_investigador (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    tel character varying(25) NOT NULL,
    email character varying(255) NOT NULL,
    esatus boolean NOT NULL,
    area_id bigint NOT NULL,
    nivel_edu_id bigint NOT NULL,
    snii_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.proyecto_inv_investigador OWNER TO postgres;

--
-- Name: proyecto_inv_investigador_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_investigador ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_investigador_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_linea; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_linea (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    esatus boolean NOT NULL
);


ALTER TABLE public.proyecto_inv_linea OWNER TO postgres;

--
-- Name: proyecto_inv_linea_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_linea ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_linea_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_niveledu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_niveledu (
    id bigint NOT NULL,
    descripcion character varying(50) NOT NULL,
    esatus boolean NOT NULL
);


ALTER TABLE public.proyecto_inv_niveledu OWNER TO postgres;

--
-- Name: proyecto_inv_niveledu_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_niveledu ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_niveledu_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_nivelsnii; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_nivelsnii (
    id bigint NOT NULL,
    descripcion character varying(50) NOT NULL
);


ALTER TABLE public.proyecto_inv_nivelsnii OWNER TO postgres;

--
-- Name: proyecto_inv_nivelsnii_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_nivelsnii ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_nivelsnii_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_proyecto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_proyecto (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    esatus character varying(20) NOT NULL,
    "Area_id" bigint,
    descripcion character varying(255)
);


ALTER TABLE public.proyecto_inv_proyecto OWNER TO postgres;

--
-- Name: proyecto_inv_proyecto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_proyecto ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_proyecto_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_tipoestudiante; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_tipoestudiante (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.proyecto_inv_tipoestudiante OWNER TO postgres;

--
-- Name: proyecto_inv_tipoestudiante_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_tipoestudiante ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_tipoestudiante_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_tipoevento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_tipoevento (
    id bigint NOT NULL,
    descripcion character varying(100) NOT NULL,
    esatus boolean NOT NULL
);


ALTER TABLE public.proyecto_inv_tipoevento OWNER TO postgres;

--
-- Name: proyecto_inv_tipoevento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_tipoevento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_tipoevento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_unidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_unidad (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    ubicacion character varying(255) NOT NULL,
    esatus boolean NOT NULL
);


ALTER TABLE public.proyecto_inv_unidad OWNER TO postgres;

--
-- Name: proyecto_inv_unidad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_unidad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_unidad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: proyecto_inv_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proyecto_inv_usuario (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    esatus boolean NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public.proyecto_inv_usuario OWNER TO postgres;

--
-- Name: proyecto_inv_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.proyecto_inv_usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.proyecto_inv_usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$V65JuoMAYgmopYiCaZYKop$a897a3FyFDhMoRtO4gz1y0XxXxvG5f5mqLEqbumffR4=	2025-04-24 02:01:25.935585-06	t	admin			admin@outlook.com	t	t	2025-03-19 02:24:53.144845-06
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_area; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_area (id, nombre, esatus, unidad_id) FROM stdin;
1	TI	t	3
2	Electronica	t	2
3	Quimicos	t	1
4	Energia	t	2
5	Medio Ambiente	t	1
6	Docencia	t	5
7	Posgrados	t	4
8	Administrativos	t	2
\.


--
-- Data for Name: proyecto_inv_articulo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_carrera; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_carrera (id, descripcion) FROM stdin;
1	Ing de Software
2	Bioquimica
3	Lic. Pedagogia
4	Ing, en Electricidad
5	Ing. en Electronica
6	Ing. en Mecatronica
\.


--
-- Data for Name: proyecto_inv_detart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detart (id, articulo_id, investigador_id) FROM stdin;
1	1	9
2	1	10
3	1	8
4	2	7
5	2	2
6	2	3
7	3	8
8	3	4
9	4	9
10	5	1
11	5	2
12	5	7
13	5	10
14	6	9
15	6	1
16	7	10
17	7	2
18	8	1
19	8	7
20	8	8
21	9	8
22	9	9
23	9	10
24	10	4
25	10	8
26	11	4
27	11	8
28	12	10
29	12	7
30	12	1
31	12	2
32	13	7
33	14	10
34	14	9
35	15	1
\.


--
-- Data for Name: proyecto_inv_detevento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detevento (id, evento_id, investigador_id) FROM stdin;
1	1	6
2	2	3
3	2	5
4	3	7
5	4	1
6	4	10
7	4	2
8	5	10
9	6	9
10	7	8
11	8	10
12	9	6
13	10	4
14	11	5
15	12	9
16	13	8
17	14	7
18	15	10
19	16	2
20	17	1
21	18	3
22	19	8
23	19	9
24	19	1
25	20	9
\.


--
-- Data for Name: proyecto_inv_detherr; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detherr (id, herramienta_id, proyecto_id) FROM stdin;
\.


--
-- Data for Name: proyecto_inv_detlinea; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detlinea (id, investigador_id, linea_id) FROM stdin;
1	1	5
2	2	5
3	3	7
4	4	7
5	6	10
6	10	11
7	5	12
8	7	13
9	8	14
10	9	14
\.


--
-- Data for Name: proyecto_inv_detproy; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_detproy (id, investigador_id, proyecto_id) FROM stdin;
2	1	3
3	2	3
4	1	4
5	7	4
6	6	5
7	3	6
8	4	6
9	6	6
10	5	7
11	5	8
12	8	9
13	9	9
14	9	10
15	2	12
16	10	13
17	10	14
18	1	15
19	3	16
20	4	17
21	3	17
\.


--
-- Data for Name: proyecto_inv_especialidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_especialidad (id, descripcion, esatus) FROM stdin;
1	Pedagogia	t
2	Mecatronica	t
3	Electronica	t
4	Software	t
5	Quimica	t
\.


--
-- Data for Name: proyecto_inv_estudiante; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_evento; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_herramienta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_herramienta (id, nombre, descripcion, esatus) FROM stdin;
\.


--
-- Data for Name: proyecto_inv_investigador; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_linea; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_linea (id, nombre, esatus) FROM stdin;
5	IA	t
7	Energia	t
10	Microredes	t
11	Medio Ambiente	t
12	Desarrollo Humano	t
13	Desarrollo de Software	t
14	Quimica de Combustibles	t
\.


--
-- Data for Name: proyecto_inv_niveledu; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_niveledu (id, descripcion, esatus) FROM stdin;
2	Practicante	t
3	Maestria	t
4	Doctorado	t
\.


--
-- Data for Name: proyecto_inv_nivelsnii; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_nivelsnii (id, descripcion) FROM stdin;
1	Candidato
2	Nivel I
3	Nivel II
4	Nivel III
\.


--
-- Data for Name: proyecto_inv_proyecto; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proyecto_inv_tipoestudiante; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_tipoestudiante (id, nombre) FROM stdin;
1	Practicante
2	Serv. Social
3	Maestria
4	Doctorado
\.


--
-- Data for Name: proyecto_inv_tipoevento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_tipoevento (id, descripcion, esatus) FROM stdin;
1	Congreso	t
2	Taller	t
3	Diplomado	t
4	Charla	t
5	Curso	t
6	Conferencia	t
7	Proyecto	f
\.


--
-- Data for Name: proyecto_inv_unidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proyecto_inv_unidad (id, nombre, ubicacion, esatus) FROM stdin;
1	Unidad Jalisco	Jalisco	t
2	Unidad San Luis	San Luis Potosi	t
3	Unidad Edo de Mexico	Edo de Mexico	t
4	Unidad Tabasco	Tabasco	t
5	Unidad Sonora	Sonora	t
\.


--
-- Data for Name: proyecto_inv_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 108, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 244, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 27, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 25, true);


--
-- Name: proyecto_inv_area_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_area_id_seq', 8, true);


--
-- Name: proyecto_inv_articulo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_articulo_id_seq', 15, true);


--
-- Name: proyecto_inv_carrera_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_carrera_id_seq', 6, true);


--
-- Name: proyecto_inv_detart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detart_id_seq', 35, true);


--
-- Name: proyecto_inv_detevento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detevento_id_seq', 26, true);


--
-- Name: proyecto_inv_detherr_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detherr_id_seq', 1, false);


--
-- Name: proyecto_inv_detlinea_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detlinea_id_seq', 11, true);


--
-- Name: proyecto_inv_detproy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_detproy_id_seq', 21, true);


--
-- Name: proyecto_inv_especialidad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_especialidad_id_seq', 5, true);


--
-- Name: proyecto_inv_estudiante_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_estudiante_id_seq', 13, true);


--
-- Name: proyecto_inv_evento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_evento_id_seq', 20, true);


--
-- Name: proyecto_inv_herramienta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_herramienta_id_seq', 1, false);


--
-- Name: proyecto_inv_investigador_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_investigador_id_seq', 18, true);


--
-- Name: proyecto_inv_linea_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_linea_id_seq', 14, true);


--
-- Name: proyecto_inv_niveledu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_niveledu_id_seq', 4, true);


--
-- Name: proyecto_inv_nivelsnii_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_nivelsnii_id_seq', 4, true);


--
-- Name: proyecto_inv_proyecto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_proyecto_id_seq', 17, true);


--
-- Name: proyecto_inv_tipoestudiante_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_tipoestudiante_id_seq', 4, true);


--
-- Name: proyecto_inv_tipoevento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_tipoevento_id_seq', 7, true);


--
-- Name: proyecto_inv_unidad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_unidad_id_seq', 5, true);


--
-- Name: proyecto_inv_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proyecto_inv_usuario_id_seq', 20, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: proyecto_inv_area proyecto_inv_area_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_area
    ADD CONSTRAINT proyecto_inv_area_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_articulo proyecto_inv_articulo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_articulo
    ADD CONSTRAINT proyecto_inv_articulo_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_carrera proyecto_inv_carrera_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_carrera
    ADD CONSTRAINT proyecto_inv_carrera_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_detart proyecto_inv_detart_investigador_id_articulo_id_f33c33d2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detart
    ADD CONSTRAINT proyecto_inv_detart_investigador_id_articulo_id_f33c33d2_uniq UNIQUE (investigador_id, articulo_id);


--
-- Name: proyecto_inv_detart proyecto_inv_detart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detart
    ADD CONSTRAINT proyecto_inv_detart_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_detevento proyecto_inv_detevento_investigador_id_evento_id_54f9bc3c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detevento
    ADD CONSTRAINT proyecto_inv_detevento_investigador_id_evento_id_54f9bc3c_uniq UNIQUE (investigador_id, evento_id);


--
-- Name: proyecto_inv_detevento proyecto_inv_detevento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detevento
    ADD CONSTRAINT proyecto_inv_detevento_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_detherr proyecto_inv_detherr_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detherr
    ADD CONSTRAINT proyecto_inv_detherr_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_detherr proyecto_inv_detherr_proyecto_id_herramienta_id_c16dc790_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detherr
    ADD CONSTRAINT proyecto_inv_detherr_proyecto_id_herramienta_id_c16dc790_uniq UNIQUE (proyecto_id, herramienta_id);


--
-- Name: proyecto_inv_detlinea proyecto_inv_detlinea_investigador_id_linea_id_2c2ae04f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detlinea
    ADD CONSTRAINT proyecto_inv_detlinea_investigador_id_linea_id_2c2ae04f_uniq UNIQUE (investigador_id, linea_id);


--
-- Name: proyecto_inv_detlinea proyecto_inv_detlinea_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detlinea
    ADD CONSTRAINT proyecto_inv_detlinea_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_detproy proyecto_inv_detproy_investigador_id_proyecto_id_b825d598_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detproy
    ADD CONSTRAINT proyecto_inv_detproy_investigador_id_proyecto_id_b825d598_uniq UNIQUE (investigador_id, proyecto_id);


--
-- Name: proyecto_inv_detproy proyecto_inv_detproy_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detproy
    ADD CONSTRAINT proyecto_inv_detproy_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_especialidad proyecto_inv_especialidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_especialidad
    ADD CONSTRAINT proyecto_inv_especialidad_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_estudiante proyecto_inv_estudiante_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_estudiante
    ADD CONSTRAINT proyecto_inv_estudiante_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_evento proyecto_inv_evento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_evento
    ADD CONSTRAINT proyecto_inv_evento_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_herramienta proyecto_inv_herramienta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_herramienta
    ADD CONSTRAINT proyecto_inv_herramienta_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_investigador proyecto_inv_investigador_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_investigador
    ADD CONSTRAINT proyecto_inv_investigador_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_linea proyecto_inv_linea_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_linea
    ADD CONSTRAINT proyecto_inv_linea_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_niveledu proyecto_inv_niveledu_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_niveledu
    ADD CONSTRAINT proyecto_inv_niveledu_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_nivelsnii proyecto_inv_nivelsnii_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_nivelsnii
    ADD CONSTRAINT proyecto_inv_nivelsnii_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_proyecto proyecto_inv_proyecto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_proyecto
    ADD CONSTRAINT proyecto_inv_proyecto_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_tipoestudiante proyecto_inv_tipoestudiante_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_tipoestudiante
    ADD CONSTRAINT proyecto_inv_tipoestudiante_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_tipoevento proyecto_inv_tipoevento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_tipoevento
    ADD CONSTRAINT proyecto_inv_tipoevento_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_unidad proyecto_inv_unidad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_unidad
    ADD CONSTRAINT proyecto_inv_unidad_pkey PRIMARY KEY (id);


--
-- Name: proyecto_inv_usuario proyecto_inv_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_usuario
    ADD CONSTRAINT proyecto_inv_usuario_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: proyecto_inv_area_unidad_id_22c90d2b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_area_unidad_id_22c90d2b ON public.proyecto_inv_area USING btree (unidad_id);


--
-- Name: proyecto_inv_articulo_Area_id_760abbb9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "proyecto_inv_articulo_Area_id_760abbb9" ON public.proyecto_inv_articulo USING btree ("Area_id");


--
-- Name: proyecto_inv_detart_articulo_id_730ceb30; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detart_articulo_id_730ceb30 ON public.proyecto_inv_detart USING btree (articulo_id);


--
-- Name: proyecto_inv_detart_investigador_id_1ff01a63; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detart_investigador_id_1ff01a63 ON public.proyecto_inv_detart USING btree (investigador_id);


--
-- Name: proyecto_inv_detevento_evento_id_bae58916; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detevento_evento_id_bae58916 ON public.proyecto_inv_detevento USING btree (evento_id);


--
-- Name: proyecto_inv_detevento_investigador_id_00b98697; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detevento_investigador_id_00b98697 ON public.proyecto_inv_detevento USING btree (investigador_id);


--
-- Name: proyecto_inv_detherr_herramienta_id_793d7090; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detherr_herramienta_id_793d7090 ON public.proyecto_inv_detherr USING btree (herramienta_id);


--
-- Name: proyecto_inv_detherr_proyecto_id_114bc4f3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detherr_proyecto_id_114bc4f3 ON public.proyecto_inv_detherr USING btree (proyecto_id);


--
-- Name: proyecto_inv_detlinea_investigador_id_886a32c2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detlinea_investigador_id_886a32c2 ON public.proyecto_inv_detlinea USING btree (investigador_id);


--
-- Name: proyecto_inv_detlinea_linea_id_e30cc568; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detlinea_linea_id_e30cc568 ON public.proyecto_inv_detlinea USING btree (linea_id);


--
-- Name: proyecto_inv_detproy_investigador_id_87f21486; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detproy_investigador_id_87f21486 ON public.proyecto_inv_detproy USING btree (investigador_id);


--
-- Name: proyecto_inv_detproy_proyecto_id_731992ee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_detproy_proyecto_id_731992ee ON public.proyecto_inv_detproy USING btree (proyecto_id);


--
-- Name: proyecto_inv_estudiante_carrera_id_5eb609af; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_estudiante_carrera_id_5eb609af ON public.proyecto_inv_estudiante USING btree (carrera_id);


--
-- Name: proyecto_inv_estudiante_investigador_id_e4bff4a1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_estudiante_investigador_id_e4bff4a1 ON public.proyecto_inv_estudiante USING btree (investigador_id);


--
-- Name: proyecto_inv_estudiante_tipo_id_71538a7f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_estudiante_tipo_id_71538a7f ON public.proyecto_inv_estudiante USING btree (tipo_id);


--
-- Name: proyecto_inv_evento_tipo_evento_id_32405240; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_evento_tipo_evento_id_32405240 ON public.proyecto_inv_evento USING btree (tipo_evento_id);


--
-- Name: proyecto_inv_investigador_area_id_5f09802d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_investigador_area_id_5f09802d ON public.proyecto_inv_investigador USING btree (area_id);


--
-- Name: proyecto_inv_investigador_nivel_edu_id_8a8ef209; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_investigador_nivel_edu_id_8a8ef209 ON public.proyecto_inv_investigador USING btree (nivel_edu_id);


--
-- Name: proyecto_inv_investigador_snii_id_a9ffb329; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_investigador_snii_id_a9ffb329 ON public.proyecto_inv_investigador USING btree (snii_id);


--
-- Name: proyecto_inv_investigador_usuario_id_7d953031; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX proyecto_inv_investigador_usuario_id_7d953031 ON public.proyecto_inv_investigador USING btree (usuario_id);


--
-- Name: proyecto_inv_proyecto_Area_id_f06bf9bb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "proyecto_inv_proyecto_Area_id_f06bf9bb" ON public.proyecto_inv_proyecto USING btree ("Area_id");


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_area proyecto_inv_area_unidad_id_22c90d2b_fk_proyecto_inv_unidad_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_area
    ADD CONSTRAINT proyecto_inv_area_unidad_id_22c90d2b_fk_proyecto_inv_unidad_id FOREIGN KEY (unidad_id) REFERENCES public.proyecto_inv_unidad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_articulo proyecto_inv_articulo_Area_id_760abbb9_fk_proyecto_inv_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_articulo
    ADD CONSTRAINT "proyecto_inv_articulo_Area_id_760abbb9_fk_proyecto_inv_area_id" FOREIGN KEY ("Area_id") REFERENCES public.proyecto_inv_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detart proyecto_inv_detart_articulo_id_730ceb30_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detart
    ADD CONSTRAINT proyecto_inv_detart_articulo_id_730ceb30_fk_proyecto_ FOREIGN KEY (articulo_id) REFERENCES public.proyecto_inv_articulo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detart proyecto_inv_detart_investigador_id_1ff01a63_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detart
    ADD CONSTRAINT proyecto_inv_detart_investigador_id_1ff01a63_fk_proyecto_ FOREIGN KEY (investigador_id) REFERENCES public.proyecto_inv_investigador(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detevento proyecto_inv_deteven_evento_id_bae58916_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detevento
    ADD CONSTRAINT proyecto_inv_deteven_evento_id_bae58916_fk_proyecto_ FOREIGN KEY (evento_id) REFERENCES public.proyecto_inv_evento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detevento proyecto_inv_deteven_investigador_id_00b98697_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detevento
    ADD CONSTRAINT proyecto_inv_deteven_investigador_id_00b98697_fk_proyecto_ FOREIGN KEY (investigador_id) REFERENCES public.proyecto_inv_investigador(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detherr proyecto_inv_detherr_herramienta_id_793d7090_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detherr
    ADD CONSTRAINT proyecto_inv_detherr_herramienta_id_793d7090_fk_proyecto_ FOREIGN KEY (herramienta_id) REFERENCES public.proyecto_inv_herramienta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detherr proyecto_inv_detherr_proyecto_id_114bc4f3_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detherr
    ADD CONSTRAINT proyecto_inv_detherr_proyecto_id_114bc4f3_fk_proyecto_ FOREIGN KEY (proyecto_id) REFERENCES public.proyecto_inv_proyecto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detlinea proyecto_inv_detline_investigador_id_886a32c2_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detlinea
    ADD CONSTRAINT proyecto_inv_detline_investigador_id_886a32c2_fk_proyecto_ FOREIGN KEY (investigador_id) REFERENCES public.proyecto_inv_investigador(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detlinea proyecto_inv_detline_linea_id_e30cc568_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detlinea
    ADD CONSTRAINT proyecto_inv_detline_linea_id_e30cc568_fk_proyecto_ FOREIGN KEY (linea_id) REFERENCES public.proyecto_inv_linea(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detproy proyecto_inv_detproy_investigador_id_87f21486_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detproy
    ADD CONSTRAINT proyecto_inv_detproy_investigador_id_87f21486_fk_proyecto_ FOREIGN KEY (investigador_id) REFERENCES public.proyecto_inv_investigador(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_detproy proyecto_inv_detproy_proyecto_id_731992ee_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_detproy
    ADD CONSTRAINT proyecto_inv_detproy_proyecto_id_731992ee_fk_proyecto_ FOREIGN KEY (proyecto_id) REFERENCES public.proyecto_inv_proyecto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_estudiante proyecto_inv_estudia_carrera_id_5eb609af_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_estudiante
    ADD CONSTRAINT proyecto_inv_estudia_carrera_id_5eb609af_fk_proyecto_ FOREIGN KEY (carrera_id) REFERENCES public.proyecto_inv_carrera(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_estudiante proyecto_inv_estudia_investigador_id_e4bff4a1_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_estudiante
    ADD CONSTRAINT proyecto_inv_estudia_investigador_id_e4bff4a1_fk_proyecto_ FOREIGN KEY (investigador_id) REFERENCES public.proyecto_inv_investigador(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_estudiante proyecto_inv_estudia_tipo_id_71538a7f_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_estudiante
    ADD CONSTRAINT proyecto_inv_estudia_tipo_id_71538a7f_fk_proyecto_ FOREIGN KEY (tipo_id) REFERENCES public.proyecto_inv_tipoestudiante(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_evento proyecto_inv_evento_tipo_evento_id_32405240_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_evento
    ADD CONSTRAINT proyecto_inv_evento_tipo_evento_id_32405240_fk_proyecto_ FOREIGN KEY (tipo_evento_id) REFERENCES public.proyecto_inv_tipoevento(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_investigador proyecto_inv_investi_area_id_5f09802d_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_investigador
    ADD CONSTRAINT proyecto_inv_investi_area_id_5f09802d_fk_proyecto_ FOREIGN KEY (area_id) REFERENCES public.proyecto_inv_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_investigador proyecto_inv_investi_nivel_edu_id_8a8ef209_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_investigador
    ADD CONSTRAINT proyecto_inv_investi_nivel_edu_id_8a8ef209_fk_proyecto_ FOREIGN KEY (nivel_edu_id) REFERENCES public.proyecto_inv_niveledu(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_investigador proyecto_inv_investi_snii_id_a9ffb329_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_investigador
    ADD CONSTRAINT proyecto_inv_investi_snii_id_a9ffb329_fk_proyecto_ FOREIGN KEY (snii_id) REFERENCES public.proyecto_inv_nivelsnii(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_investigador proyecto_inv_investi_usuario_id_7d953031_fk_proyecto_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_investigador
    ADD CONSTRAINT proyecto_inv_investi_usuario_id_7d953031_fk_proyecto_ FOREIGN KEY (usuario_id) REFERENCES public.proyecto_inv_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: proyecto_inv_proyecto proyecto_inv_proyecto_Area_id_f06bf9bb_fk_proyecto_inv_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proyecto_inv_proyecto
    ADD CONSTRAINT "proyecto_inv_proyecto_Area_id_f06bf9bb_fk_proyecto_inv_area_id" FOREIGN KEY ("Area_id") REFERENCES public.proyecto_inv_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

